<div class="flex header header-height">
  <div class="flex center_x w100">
    <div class="flex f-dir-col center_x">
      <div *ngIf="isEdit" class="flex center_y sides container-cubes">
        <div (click)="selectColor(1)" [style.background]="color?.one" class="color-cubes"></div>
        <div (click)="selectColor(2)" [style.background]="color?.two" class="color-cubes"></div>
        <div (click)="selectColor(3)" [style.background]="color?.three" class="color-cubes"></div>
      </div>
    </div>
  </div>
</div>
