@import "../../../../assets/global-styles/global";


.text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.p1 {
  padding: 5px;
}
.background-add {
  background-image: url("../../../../assets/image/Add-color.jpg");
  background-position: center;
  background-size: cover;
}
