<div class="flex center_x">
  <h1 class="green-black-color">Three Color Palete</h1>
</div>
<div class="grid two_column">
  <div class="flex center_x p1" *ngFor="let color of colors">
    <div class="flex f-dir-col" (click)="routeToEditColor(color.id)">
      <div class="text">{{color.name_colors}}</div>
      <div class="flex center_y sides container-cubes">
        <div [style.background]="this.color.one" class="color-cubes"></div>
        <div [style.background]="this.color.two" class="color-cubes"></div>
        <div [style.background]="this.color.three" class="color-cubes"></div>
      </div>
    </div>
  </div>
  <div class="flex center_x p1">
    <div class="flex f-dir-col" (click)="routeToAddColor()">
      <div class="text">Add palette</div>
      <div class="flex center_y sides container-cubes">
        <div class="color-cubes background-add"></div>
        <div class="color-cubes background-add"></div>
        <div class="color-cubes background-add"></div>
      </div>
    </div>
  </div>
</div>
