@import "./color";
@import "./values";
////////D-Flex///////
.flex {
  display: flex;
}

.f-dir-col {
  flex-direction: column;
}

.center_y {
  align-items: center;
}
.center_x {
  justify-content: center;
}

.sides {
  justify-content: space-evenly;
}
////////////D-Grid///////////

.grid {
  display: grid;
}

.two_column {
  grid-template-columns: 1fr 1fr;
}
////////////HEADER///////////
.header-height {
  height: 8vh;
}

/////////Color picker///////
.d-none {
  display: none;
}
/////////Cubes styles//////

.color-cubes {
  width: $cubes-size;
  height: $cubes-size;
}

.container-cubes {
  width: 160px;
  height: 60px;
  background: $grey-white;
}

/////////Text-Color////////

.green-black-color {
  color: $green-black;
}
