<div *ngIf="color">
  <div class="flex center_x">
    <h1 class="green-black-color">Edit Three Color Palete</h1>
  </div>
  <input [(ngModel)]="color.name_colors">
  <button (click)="color.name_colors = ''">Clean</button>
  <div class="flex f-dir-col">
    <span>Color picker</span>
    <input class="d-none" [(colorPicker)]="selectedColors" [style.background]="selectedColors"
           [cpDialogDisplay]="'inline'"
           [cpToggle]="true">
  </div>
  <button (click)="updateColor()">Update</button>
</div>
